img{
  width: 280px;
  height: 300px;
  padding: 10px;
}
.card{
  height: 520px !important;
  margin-bottom: 30px;
}
img:hover,.card-title:hover{
  scale: 1.06 1.06;
  cursor: pointer;
}
.position-absolute{
  bottom:10px;
  width: 90%;
}

.alert{
  position: fixed;
  left: 25%;
}


