<div class="my-3">
  <label for="cat" class="form-label"><p>Categories :</p></label>
  <select name="category" id="cat" class="form-control" [(ngModel)]="selectedCat" (change)="filter()">
    <option value="All">All</option>
    @for(category of categories;track category ) {
      <option [value]="category">{{category}}</option>
    }
  </select>
</div>

<div class = "row my-5 position-relative" *ngIf="!loading" #div>
  @for (item of products; track $index) {
    <div class="col-md-6 col-lg-4 col-sm-12">
      <div class="card" >
        <div class="d-flex justify-content-center align-items-center">
          <img [src]="item.image" name="" value="" class="card-img-top" alt="..." (click)="GoTODetails(item.id)">
        </div>
        <div class="card-body position-relative">
          <h3 class="card-title" (click)="GoTODetails(item.id)">{{item.title}}</h3>
          <div class="p-2 d-flex justify-content-between position-absolute">
            <button class="btn btn-primary" (click)="AddToCart(item)">Add To Cart</button>
            <span class="badge rounded-pill text-bg-primary p-3 ">{{item.price | currency:'USD'}}</span>
          </div>
        </div>
      </div>
    </div>
  }
  @if (showSuccessMessage) {
    <div class="alert alert-success text-center w-50">Added Successfully</div>
  }
</div>



<div class="w-100 text-center" *ngIf="loading">
  <div class="spinner-border text-success"></div>
</div>
